body{
    margin: 0;
    padding: 0;
    background-color: black;
}

#grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    height: 600px;
    width: 80%;
    margin: auto;
    background-color: #fff;

}
#grid div{
    text-align: center;
    padding: 20px;
    font-size: 1.6rem;
    font-weight: bold;
    border: 1px solid black;
    
}

.one{
    background-color: #f90;
}

.two{
    background-color: #fc0;
 
    
}
.three{
    background-color: #f96;
}
.four{
    background-color: #fc6;
}
