@import url('https://fonts.googleapis.com/css2?family=Goldman&display=swap');

body{
    padding: 0;
    margin: 0;
    font-family: 'Goldman', cursive;
    font-size: 17px;

}
#grid{
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr 1fr 4fr 1fr;
    row-gap: 5px;
    grid-template-areas: 
                    "header header"
                    "nav nav"
                    "section aside"
                    "footer footer";


    height: 100vh;

}
.text{
    text-align: center;
}
header{
    background-color: #28abb9;
    grid-area: header;
}
nav{
    background-color: #2d6187;
    grid-area: nav;
}
section{
    background-color: #a8dda8;
    grid-area: section;
}
aside{
    background-color: #effad3;
    grid-area: aside;
}
footer{
    background-color: #28abb9;
    grid-area: footer;
}

@media screen and (max-width: 959px){
    #grid{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 4fr 1fr 1fr 1fr;
        grid-template-areas: 
                        "header"
                        "section"
                        "nav"
                        "aside"
                        "footer";
    }
}